@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url(reset.css);
@import url(FM_part.css);


:root {
    /* colors */
    --clr-primary-bgr: hsl(0, 0%, 100%);
    --clr-secondary-bgr: hsl(0, 0%, 0%);
    --clr-dark-gray:  hsl(0, 0%, 55%);
    --clr-vdark-gray: hsl(0, 0%, 41%);
  

    /* fonts */
    --ff-primary: 'Alata', sans-serif;
    --ff-secondary: 'Josefin Sans', sans-serif;
    --fw-300: 300;
    --fw-400: 400;
    /* font-size: 15px; */
}

/* typography */
html {
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
    height: 100%;
}

body {
    /* It returns default value of browser (16px) */
    font-size: 1.6em;
    min-height: 100%;
}

p {
    line-height: 1.5;
}

/* typography end */

body {
    font-family: var(--ff-primary);
    background-color: var(--clr-primary-bgr);  
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------Mobile layout-------------------------*/

* {
    border: 2px solid green;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header_container'
        'main_content'
        'footer_container'
        'attribution';
    min-width: 37.5rem;
    /*background-color: var(--clr-primary-bgr);*/
}

/* style 1st component - mobile */
.header_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'topnav'
        'title';
    background-image: url('images/mobile/image-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/*-------navigation-------*/
.topnav {
    overflow: hidden;
    position: relative;
}

.logo_icon {
    width: 15rem;
}

.myLinks {
    padding: 10rem 0 10rem 0;
    display: none;
}

.topnav a {
    font-family: var(--ff-secondary);
    font-size: 2rem;
    font-weight: var(--fw-300);
    color: var(--clr-primary-bgr);
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.hamburger {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.close_icon {
    display: none;
}


/*-------------------------------------------------------*/

.title {
    font-family: var(--ff-secondary);
    font-size: 4rem;
    font-weight: var(--fw-300);
    color: var(--clr-primary-bgr);
    padding: 2rem;
    margin: 15rem 2rem 18rem 2rem;
    border-color: var(--clr-primary-bgr);
}

/* style 2nd component - mobile */

/* style 3rd component - mobile */
/* 3rd component styled in external stylesheet */


/*---------------------Desktop layout-------------------------*/
@media screen and (min-width: 48rem) {

* {
    display: none;
}
    
/* style 1st component - desktop */    
   
/* style 2nd component - desktop */
    
/* style 3rd component - desktop */
/* 3rd component styled in external stylesheet */
    
}
/*------------------grid area names---------------------------*/

.header_container {
    grid-area: header_container;
}

.topnav {
    grid-area: topnav;
}

.title {
    grid-area: title;
}

.main_content {
    grid-area: main_content;
}

.footer_container {
    grid-area: footer_container;
}

.attribution {
    grid-area: attribution;
}