@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url(reset.css);
@import url(FM_part.css);


:root {
    /* colors */
    --clr-primary-bgr: hsl(0, 0%, 100%);
    --clr-secondary-bgr: hsl(0, 0%, 0%);
    --clr-dark-gray:  hsl(0, 0%, 55%);
    --clr-vdark-gray: hsl(0, 0%, 41%);
  

    /* fonts */
    --ff-primary: 'Alata', sans-serif;
    --ff-secondary: 'Josefin Sans', sans-serif;
    --fw-300: 300;
    --fw-400: 400;
    /* font-size: 15px; */
}

/* typography */
html {
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
    height: 100%;
}

body {
    /* It returns default value of browser (16px) */
    font-size: 1.6em;
    min-height: 100%;
}

p {
    line-height: 1.5;
}

/* typography end */

body {
    font-family: var(--ff-primary);
    background-color: var(--clr-primary-bgr);  
    display: flex;
    justify-content: center;
    align-items: center; 
}

/*---------------------Mobile layout-------------------------*/

* {
    border: 3px solid green;
}

.grid_containers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header_container';
    min-width: 37.5rem;
    justify-items: center;
    border: 3px solid blue;
    width: 100%;
}

/* style 1st component - mobile */
.header_container {
    /*background-image: url('images/mobile/image-hero.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--clr-dark-gray);*/
    overflow: hidden;
    color: brown;
    font-size: 4rem;
    border: 3px solid yellow; 
}

/*---------------------Desktop layout-------------------------*/

@media screen and (min-width: 48rem) {
   
    .header_container {
        background-image: url('images/desktop/image-hero.jpg');
    }
}
/*------------------grid area names---------------------------*/

.header_container {
    grid-area: header_container;
}

