@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url(reset.css);
@import url(FM_part.css);


:root {
    /* colors */
    --clr-primary-bgr: hsl(0, 0%, 100%);
    --clr-secondary-bgr: hsl(0, 0%, 0%);
    --clr-dark-gray:  hsl(0, 0%, 55%);
    --clr-vdark-gray: hsl(0, 0%, 41%);
  

    /* fonts */
    --ff-primary: 'Alata', sans-serif;
    --ff-secondary: 'Josefin Sans', sans-serif;
    --fw-300: 300;
    --fw-400: 400;
    /* font-size: 15px; */
}

/* typography */
html {
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
    height: 100%;
}

body {
    /* It returns default value of browser (16px) */
    font-size: 1.6em;
    min-height: 100%;
}

p {
    line-height: 1.5;
}

/* typography end */

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-300);
    background-color: var(--clr-primary-bgr);  
    justify-content: center;
    align-items: center;
}

/*---------------------Mobile layout-------------------------*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header_container'
        'main_content'
        'footer_container'
        'attribution';
    justify-self: center;
    /*border: 2px solid green;*/
}

/* style 1st component - mobile */
.header_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header_nav'
        'title';
    background-image: url('images/mobile/image-hero.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: var( --clr-dark-gray);
    /*border: 2px solid red;*/
}

/*-------navigation mobile-------*/
/* https://xane514.medium.com/aria-controls-for-creating-a-mobile-navbar-6001012153a0 */
.header_nav {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-areas:
        'header_logo_container hamburger_menu';
    /*border: 2px solid blue;*/
}

.header_logo_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'logo_icon';
    justify-items: start;
    align-items: center;
    z-index: 2;
    /*border: 2px solid brown;*/
}

.logo_icon {
    width: 12rem;
    padding: 0.2rem;
    margin: 1.5rem 0 1rem 2rem;
    /*border: 2px solid green;*/
}

[aria-expanded="false"] .close_icon {
    display: none;
  }
  
  [aria-expanded="true"] .hamburger_icon {
    display: none;
  }
  
  [aria-expanded="true"] .close_icon {
    display: block;
  }
  
  [aria-expanded="false"] .hamburger_icon {
    display: block;
  }

  [aria-expanded="false"] ~ .header_navLinks, .show_nav {
    display: none;
  }

  [aria-expanded="true"] ~ .header_navLinks, .show_nav {
    display: block;
  }

  .hamburger_menu img {
    width: 100%;
  }

.hamburger_menu {
    background-color: transparent;
    border: none;
    padding: 1rem;
    z-index: 2;
    min-width: 4.4rem;
    place-content: center;
    /*border: 2px solid yellow;*/
}

.show_nav {
    list-style-type: none;
    overflow: hidden;
    text-transform: uppercase;
    line-height: 3;
    position: absolute;
    inset: 0;
    z-index: 1;
    padding: 10rem 0 0 0;
    background-color: var(--clr-secondary-bgr);
    /*border: 2px solid yellow;*/
}

[class*='header_navLinks_'] {
    font-family: var(--ff-secondary);
    font-size: 2rem;
    line-height: 2;
    color: var(--clr-primary-bgr);
    padding: 1rem;
    text-decoration: none;
    margin-left: 2rem;
}

/*-------------------------------------------------------*/

.title {
    font-family: var(--ff-secondary);
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--clr-primary-bgr);
    padding: 1.5rem;
    margin: 15rem 0.5rem 18rem 2.5rem;
    border: 2px solid var(--clr-primary-bgr);
    max-width: 28rem;
}

/* style 2nd component - mobile */
.main_content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'intro_content'
        'creations';
    justify-self: center;
    justify-items: center;
    /*border: 2px solid blue;*/
}

.intro_content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'intro_img'
        'intro_text';
    gap: 2rem;
    justify-items: center;
    margin: 6rem 1.5rem 4rem 1.5rem;
    /*border: 2px solid red;*/
}

.intro_img {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'image_interactive';
    justify-items: center;
    /*border: 2px solid green;*/
}

.intro_text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'intro_title'
        'intro_article';
    justify-items: center;
    margin: 1rem 0 0 0;
    /*border: 2px solid green;*/
}

.intro_title {
    font-family: var(--ff-secondary);
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--clr-secondary-bgr);
    text-align: center;
    padding: 1rem;
    /*border: 2px solid brown;*/
}

.intro_article {
    font-family: var(--ff-primary);
    font-size: 1.5rem;
    font-weight: var(--fw-400);
    color: var(--clr-dark-gray);
    text-align: center;
    padding: 1rem;
    /*border: 2px solid black;*/
}

.creations {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'creations_title'
        'creations_img_container'
        'creations_btn';
    gap: 2rem;
    justify-items: center;
    margin: 0 1.5rem 0 1.5rem;
    /*border: 2px solid brown;*/
}

.creations_title {
    font-family: var(--ff-secondary);
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--clr-secondary-bgr);
    text-align: center;
    padding: 1rem;
    /*border: 2px solid green;*/
}

.creations_img_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'earth_cont'
        'arcade_cont'
        'soccer_cont'
        'race_cont'
        'landscape_cont'
        'nightSky_cont'
        'curiosity_cont'
        'fisheye_cont';
    justify-items: center;
    gap: 2rem;
    /*border: 2px solid green;*/
}

/*---earth image-----*/
.earth_cont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'earth_link'
        'earth_title';
    cursor: pointer;
}

.earth_link {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'earth';
    justify-self: center;
}

.earth {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'deep_earth';
    justify-self: center;
}

.deep_earth {
    background-blend-mode: darken;
    justify-self: center;
}

.earth_title {
    margin: -6rem 0 0 0;
    padding: 1rem;
    font-family: var(--ff-secondary);
    font-size: 2rem;
    font-weight: var(--fw-400);
    text-transform: uppercase;
    color: var(--clr-primary-bgr);
    justify-self: start;
    align-self: start;
    width: 42%;
    /*border: 2px solid yellow;*/
}

/*--------arcade image--------*/
.arcade_cont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'arcade_link'
        'arcade_title';
    cursor: pointer;
}

.arcade_link {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'arcade';
    justify-self: center;
}

.arcade {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'night_arcade';
    justify-self: center;
}

.night_arcade {
    background-blend-mode: darken;
    justify-self: center;
}

.arcade_title {
    margin: -6rem 0 0 0;
    padding: 1rem;
    font-family: var(--ff-secondary);
    font-size: 2rem;
    font-weight: var(--fw-400);
    text-transform: uppercase;
    color: var(--clr-primary-bgr);
    justify-self: start;
    align-self: start;
    width: 42%;
    /*border: 2px solid yellow;*/
}

/*-----soccer player image-------------*/
.soccer_cont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'soccer_link'
        'soccer_title';
    cursor: pointer;
}

.soccer_link {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'soccer';
    justify-self: center;
}

.soccer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'soccer_team';
    justify-self: center;
}

.soccer_team {
    background-blend-mode: darken;
    justify-self: center;
}

.soccer_title {
    margin: -6rem 0 0 0;
    padding: 1rem;
    font-family: var(--ff-secondary);
    font-size: 2rem;
    font-weight: var(--fw-400);
    text-transform: uppercase;
    color: var(--clr-primary-bgr);
    justify-self: start;
    align-self: start;
    width: 50%;
    /*border: 2px solid yellow;*/
}

/*---------race car image-------------*/
.race_cont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'race_link'
        'race_title';
    cursor: pointer;
}

.race_link {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'race_car';
    justify-self: center;
}

.race_car {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'race';
    justify-self: center;
}

.race {
    background-blend-mode: darken;
    justify-self: center;
}

.race_title {
    margin: -6rem 0 0 0;
    padding: 1rem;
    font-family: var(--ff-secondary);
    font-size: 2rem;
    font-weight: var(--fw-400);
    text-transform: uppercase;
    color: var(--clr-primary-bgr);
    justify-self: start;
    align-self: start;
    width: 42%;
    /*border: 2px solid yellow; */
}

/*----------landscape image-------------*/
.landscape_cont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'landscape_link'
        'landscape_title';
    cursor: pointer;
}

.landscape_link {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'landscape_photo';
    justify-self: center;
}

.landscape_photo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'landscape_from_above';
    justify-self: center;
}

.landscape_from_above {
    background-blend-mode: darken;
    justify-self: center;
}

.landscape_title {
    margin: -6rem 0 0 0;
    padding: 1rem;
    font-family: var(--ff-secondary);
    font-size: 2rem;
    font-weight: var(--fw-400);
    text-transform: uppercase;
    color: var(--clr-primary-bgr);
    justify-self: start;
    align-self: start;
    width: 55%;
    /*border: 2px solid yellow;*/
}

/*-------night sky image---------*/
.nightSky_cont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'nightSky_link'
        'nightSky_title';
    cursor: pointer;
}

.nightSky_link {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'sky';
    justify-self: center;
}

.sky {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'night_sky';
    justify-self: center;
}

.night_sky {
    background-blend-mode: darken;
    justify-self: center;
}

.nightSky_title {
    margin: -6rem 0 0 0;
    padding: 1rem;
    font-family: var(--ff-secondary);
    font-size: 2rem;
    font-weight: var(--fw-400);
    text-transform: uppercase;
    color: var(--clr-primary-bgr);
    justify-self: start;
    align-self: start;
    width: 50%;
    /*border: 2px solid yellow;*/
}

/*---------curiosity image-------*/
.curiosity_cont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'curiosity_link'
        'curiosity_title';
    cursor: pointer;
}

.curiosity_link {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'mars_car';
    justify-self: center;
}

.mars_car {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'curiosity';
    justify-self: center;
}

.curiosity {
    background-blend-mode: darken;
    justify-self: center;
}

.curiosity_title {
    margin: -6rem 0 0 0;
    padding: 1rem;
    font-family: var(--ff-secondary);
    font-size: 2rem;
    font-weight: var(--fw-400);
    text-transform: uppercase;
    color: var(--clr-primary-bgr);
    justify-self: start;
    align-self: start;
    width: 50%;
    /*border: 2px solid yellow;*/
}

/*---------fish eye image--------*/
.fisheye_cont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'fisheye_link'
        'fisheye_title';
    cursor: pointer;
}

.fisheye_link {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'fisheye_photo';
    justify-self: center;
}

.fisheye_photo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'fisheye';
    justify-self: center;
}

.fisheye {
    background-blend-mode: darken;
    justify-self: center;
}

.fisheye_title {
    margin: -6rem 0 0 0;
    padding: 1rem;
    font-family: var(--ff-secondary);
    font-size: 2rem;
    font-weight: var(--fw-400);
    text-transform: uppercase;
    color: var(--clr-primary-bgr);
    justify-self: start;
    align-self: start;
    width: 50%;
    /*border: 2px solid yellow;*/
}

/*--------button------*/
.creations_btn {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'btn';
    width: 12rem;
    justify-items: center;
    /*border: 2px solid green;*/
}

.btn {
    width: 90%;
    font-family: var(--ff-primary);
    font-size: 1.2rem;
    font-weight: var(--fw-400);
    color: var(--clr-secondary-bgr);
    text-align: center;
    padding: 0.5rem;
    letter-spacing: 0.2rem;
    background-color: var(--clr-primary-bgr);
    border: 1px solid var(--clr-secondary-bgr);
}

/* style 3rd component - mobile */
.footer_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'footer_nav'
        'social_icons'
        'refsnes';
    background-color: var(--clr-secondary-bgr);
    margin-top: 8rem;
    justify-items: center;
    /*border: 2px solid yellow;*/
}

.footer_nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'footer_logo_container'
        'footer_navLinks';
    justify-items: center;
    /*border: 2px solid yellow;*/
}

.footer_logo_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'footer_logo_icon';
    margin: 5rem 0 3rem 0;
    /*border: 2px solid yellow;*/
}

.footer_logo_icon {
    padding: 0.5rem;
    width: 15rem;
}

/*---------footer navigation mobile------------------*/
.footer_navLinks {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'footer_navLinks_about'
        'footer_navLinks_careers'
        'footer_navLinks_events'
        'footer_navLinks_products'
        'footer_navLinks_support';
    gap: 2rem;
    justify-items: center;
    margin-bottom: 2rem;
}

[class*= 'footer_navLinks_'] {
    font-family: var(--ff-primary);
    font-size: 1.5rem;
    color: var(--clr-primary-bgr);
    text-decoration: none;
}
/*---------------------------------------------*/

/*----social icon mobile-----*/
.social_icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        'facebook_icon_container twitter_icon_container pinterest_icon_container instagram_icon_container';
    gap: 1.5rem;
    margin: 2rem 0 2rem 0;
    padding: 0.5rem;
    align-items: center;
    /*border: 2px solid yellow;*/
}

.facebook_icon_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'facebook_icon';
}

.twitter_icon_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'twitter_icon';
}

.pinterest_icon_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'pinterest_icon';
}

.instagram_icon_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'instagram_icon';
}
/*---------------------------------------*/

.refsnes {
    font-family: var(--ff-primary);
    font-size: 1.2rem;
    color: var(--clr-dark-gray);
    margin: 0 0 3rem 0;
    padding: 0.5rem;
    /*border: 2px solid yellow;*/
}

/* style 4th component - mobile */
/*.attribution {
    margin-bottom: 2rem;
}*/

/*---------------------Desktop layout-------------------------*/
@media screen and (min-width: 48rem) {
   
/* style 1st component - desktop */  
.header_container {
    background-image: url('images/desktop/image-hero.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-blend-mode: darken;
    background-color: var( --clr-dark-gray);
}

/*--------navigation desktop----------------------*/
.header_nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'header_logo_container header_navLinks';
    gap: 10rem;
    /*border: 2px solid red;*/
}

.hamburger_menu {
    display: none;
}

.logo_icon {
    padding: 1rem;
    width: 20rem;
   /*border: 2px solid green;*/
}

[aria-expanded="false"] ~ .header_navLinks {
    display: inline-flex;
  }

.header_navLinks {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        'header_navLinks_about header_navLinks_careers header_navLinks_events header_navLinks_products header_navLinks_support';
    gap: 1rem;
    position: relative;
    margin: 0 10rem 0 0;
    justify-self: center;
    justify-items: center;
    align-self: center;
    padding: 0.5rem 3rem 0.5rem 1rem;
    text-transform: capitalize;
    background-color: transparent;
    /*border: 2px solid blue;*/
}


[class*='header_navLinks_'] {
    font-family: var(--ff-secondary);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--clr-primary-bgr);
    text-align: center;
    padding: 1rem 0 1rem 0;
    /*border: 2px solid yellow;*/
}

/* underline nav botton*/
/*https://www.youtube.com/watch?v=R033rKs6sgA*/
.header_navLinks_about {
    max-width: 5rem;
    position: relative;
} 

.header_navLinks_about::after {
    content: '';
    position: absolute;
    width: 50%;
    display: block;
    height: 2px;
    background-color: white;
    left: 25%;
    bottom: 2px;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.header_navLinks_about:hover::after {
    transform: scale(1, 1);
}

.header_navLinks_careers {
    max-width: 7rem;
    position: relative;
} 

.header_navLinks_careers::after {
    content: '';
    position: absolute;
    width: 50%;
    display: block;
    height: 2px;
    background-color: white;
    left: 25%;
    bottom: 2px;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.header_navLinks_careers:hover::after {
    transform: scale(1, 1);
}

.header_navLinks_events {
    max-width: 5rem;
    position: relative;
} 

.header_navLinks_events::after {
    content: '';
    position: absolute;
    width: 50%;
    display: block;
    height: 2px;
    background-color: white;
    left: 25%;
    bottom: 2px;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.header_navLinks_events:hover::after {
    transform: scale(1, 1);
}

.header_navLinks_products {
    max-width: 8rem;
    position: relative;
} 

.header_navLinks_products::after {
    content: '';
    position: absolute;
    width: 50%;
    display: block;
    height: 2px;
    background-color: white;
    left: 25%;
    bottom: 2px;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.header_navLinks_products:hover::after {
    transform: scale(1, 1);
}

.header_navLinks_support {
    max-width: 6rem;
    position: relative;
}

.header_navLinks_support::after {
    content: '';
    position: absolute;
    width: 50%;
    display: block;
    height: 2px;
    background-color: white;
    left: 25%;
    bottom: 2px;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.header_navLinks_support:hover::after {
    transform: scale(1, 1);
}
/*----------------------------------------------------------*/

.title {
    font-size: 7rem;
    margin: 19rem 6rem 19rem 6rem;
    max-width: 60rem;
}
   
/*style 2nd component - desktop */
.intro_content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        '. intro_img intro_img intro_img intro_img intro_img intro_img . . . . .'
        '. intro_img intro_img intro_img intro_img intro_img intro_img intro_text intro_text intro_text intro_text .'
        '. intro_img intro_img intro_img intro_img intro_img intro_img intro_text intro_text intro_text intro_text .'
        '. . . . . . . intro_text intro_text intro_text intro_text .';
    gap: 0;
    max-width: 160rem;
}

.intro_img {
    width: 100%;
    justify-self: end;
    margin: 0 -2rem 0 0;
}

.intro_text {
    gap: 1.5rem;
    justify-self: start;
    padding: 5rem 7rem;
    margin: 5rem 0 0 -12rem;
    background-color: var(--clr-primary-bgr);
}

.intro_title {
    align-self: end;
    justify-self: start;
    text-align: left;
    width: 90%;
}

.intro_article {
    text-align: left;
    width: 100%;
    padding: 0;
}

.creations {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'creations_title creations_btn'
        'creations_img_container creations_img_container';
    /*border: 2px solid green;*/
}

.creations_title {
    /*margin: 0 0 0 -11rem;*/
    justify-self: start;
    align-self: center;
    /*border: 2px solid green;*/
}

.creations_btn {
    justify-self: end;
    align-self: center;
    height: 3rem;
    /*border: 2px solid green;*/
}

.btn {
    padding: 0;
    cursor: pointer;
}

.btn:hover {
    color: var(--clr-primary-bgr);
    background-color: var(--clr-secondary-bgr);
}

.creations_img_container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        'earth_cont arcade_cont soccer_cont race_cont'
        'landscape_cont nightSky_cont curiosity_cont fisheye_cont';
}

.earth_title {
    width: 8rem;
    margin: -8rem 0 0 2rem;
    font-size: 2.4rem;
    padding: 0;
    /*border: 2px solid yellow;*/
}

.arcade_title {
    width: 12rem;
    margin: -8rem 0 0 2rem;
    font-size: 2.4rem;
    padding: 0;
    /*border: 2px solid yellow;*/
}

.soccer_title {
    width: 12rem;
    margin: -8rem 0 0 2rem;
    font-size: 2.4rem;
    padding: 0;
    /*border: 2px solid yellow;*/
}

.race_title {
    width: 8rem;
    margin: -8rem 0 0 2rem;
    font-size: 2.4rem;
    padding: 0;
    /*border: 2px solid yellow;*/
}

.landscape_title {
    width: 13rem;
    margin: -8rem 0 0 2rem;
    font-size: 2.4rem;
    padding: 0;
    /*border: 2px solid yellow;*/
}

.nightSky_title {
    width: 12rem;
    margin: -8rem 0 0 2rem;
    font-size: 2.4rem;
    padding: 0;
    /*border: 2px solid yellow;*/
}

.curiosity_title {
    width: 14rem;
    margin: -8rem 0 0 2rem;
    font-size: 2.4rem;
    padding: 0;
   /*border: 2px solid yellow;*/
}

.fisheye_title {
    width: 12rem;
    margin: -8rem 0 0 2rem;
    font-size: 2.4rem;
    padding: 0;
    /*border: 2px solid yellow;*/
}

.earth_link:hover,
.arcade_link:hover,
.soccer_link:hover,
.race_link:hover,
.landscape_link:hover,
.nightSky_link:hover,
.curiosity_link:hover,
.fisheye_link:hover {
    opacity: 0.4;
}

/*on hover style another element*/
/*https://stackoverflow.com/questions/6910049/on-a-css-hover-event-can-i-change-another-divs-styling*/
/*https://stackoverflow.com/questions/4502633/how-to-affect-other-elements-when-one-element-is-hovered*/
.earth_link:hover + .earth_title,
.arcade_link:hover + .arcade_title,
.soccer_link:hover + .soccer_title,
.race_link:hover + .race_title,
.landscape_link:hover + .landscape_title,
.nightSky_link:hover + .nightSky_title,
.curiosity_link:hover + .curiosity_title,
.fisheye_link:hover + .fisheye_title {
    color: var(--clr-secondary-bgr);
}
  
/*style 3rd component - desktop */
.footer_container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'footer_nav social_icons'
        'footer_nav refsnes';
    margin-top: 16rem;
    /*border: 2px solid yellow;*/
}

.footer_nav {
    justify-self: start;
    justify-items: start;
    margin: 0 0 3rem 5rem;
    padding: 1.5rem;
    /*border: 2px solid yellow;*/
}

.footer_logo_container {
    margin: 4rem 0 4rem 0;
    /*border: 2px solid yellow;*/
}

/*---footer nvigation desktop----------*/
.footer_navLinks {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        'footer_navLinks_about footer_navLinks_careers footer_navLinks_events footer_navLinks_products footer_navLinks_support';
    justify-self: start;
    /*border: 2px solid yellow;*/
}

/* underline nav buttons */
.footer_navLinks_about {
    position: relative;
}

.footer_navLinks_about::after {
    content: '';
    position: absolute;
    width: 50%;
    display: block;
    height: 2px;
    background-color: white;
    bottom: -5px;
    left: 25%;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.footer_navLinks_about:hover::after {
    transform: scale(1, 1);
}


.footer_navLinks_careers {
    position: relative;
}

.footer_navLinks_careers::after {
    content: '';
    position: absolute;
    width: 50%;
    display: block;
    height: 2px;
    background-color: white;
    bottom: -5px;
    left: 25%;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.footer_navLinks_careers:hover::after {
    transform: scale(1, 1);
}

.footer_navLinks_events {
    position: relative;
}

.footer_navLinks_events::after {
    content: '';
    position: absolute;
    width: 50%;
    display: block;
    height: 2px;
    background-color: white;
    bottom: -5px;
    left: 25%;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.footer_navLinks_events:hover::after {
    transform: scale(1, 1);
}

.footer_navLinks_products {
    position: relative;
}

.footer_navLinks_products::after {
    content: '';
    position: absolute;
    width: 50%;
    display: block;
    height: 2px;
    background-color: white;
    bottom: -5px;
    left: 25%;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.footer_navLinks_products:hover::after {
    transform: scale(1, 1);
}

.footer_navLinks_support {
    position: relative;
}

.footer_navLinks_support::after {
    content: '';
    position: absolute;
    width: 50%;
    display: block;
    height: 2px;
    background-color: white;
    bottom: -5px;
    left: 25%;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.footer_navLinks_support:hover::after {
    transform: scale(1, 1);
}
/*--------------------------------------*/

/*------social icons desktop---------------------*/
.social_icons {
    justify-self: end;
    margin: 3rem 5rem 0 0;
    padding: 0 1rem 0 1rem;
    /*border: 2px solid yellow;*/
}

/* underline social icons */
.facebook_icon_container {
    position: relative;
}

.facebook_icon_container::after {
    content: '';
    position: absolute;
    width: 100%;
    display: block;
    height: 2px;
    background-color: white;
    bottom: -7px;
    left: 0;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.facebook_icon_container:hover::after {
    transform: scale(1, 1);
}

.twitter_icon_container {
    position: relative;
}

.twitter_icon_container::after {
    content: '';
    position: absolute;
    width: 100%;
    display: block;
    height: 2px;
    background-color: white;
    bottom: -7px;
    left: 0;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.twitter_icon_container:hover::after {
    transform: scale(1, 1);
}

.pinterest_icon_container {
    position: relative;
}

.pinterest_icon_container::after {
    content: '';
    position: absolute;
    width: 100%;
    display: block;
    height: 2px;
    background-color: white;
    bottom: -7px;
    left: 0;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.pinterest_icon_container:hover::after {
    transform: scale(1, 1);
}

.instagram_icon_container {
    position: relative;
}

.instagram_icon_container::after {
    content: '';
    position: absolute;
    width: 100%;
    display: block;
    height: 2px;
    background-color: white;
    bottom: -7px;
    left: 0;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.instagram_icon_container:hover::after {
    transform: scale(1, 1);
}
/*-----------------------------------------------*/

.refsnes {
    justify-self: end;
    margin: 1rem 5rem 0 0;
    padding: 0 1rem;
    /*border: 2px solid yellow;*/
}

/*style 4th component - desktop */
/* 4th component styled in external stylesheet */
    
}
/*------------------grid area names---------------------------*/

.header_container {
    grid-area: header_container;
}

.header_nav {
    grid-area: header_nav;
}

.header_logo_container {
    grid-area: header_logo_container;
}

.logo_icon {
    grid-area: logo_icon;
}

.hamburger_menu {
    grid-area: hamburger_menu;
}

.header_navLinks {
    grid-area: header_navLinks;
}

.header_navLinks_about {
    grid-area: header_navLinks_about;
}

.header_navLinks_careers {
    grid-area: header_navLinks_careers;
}

.header_navLinks_events {
    grid-area: header_navLinks_events;
}

.header_navLinks_products {
    grid-area: header_navLinks_products;
}

.header_navLinks_support {
    grid-area: header_navLinks_support;
}

.title {
    grid-area: title;
}

.main_content {
    grid-area: main_content;
}

.intro_content {
    grid-area: intro_content;
}

.intro_img {
    grid-area: intro_img;
}

.image_interactive {
    grid-area: image_interactive;
}

.intro_text {
    grid-area: intro_text;
}

.intro_title {
    grid-area: intro_title;
}

.intro_article {
    grid-area: intro_article;
}

.creations {
    grid-area: creations;
}

.creations_title {
    grid-area: creations_title;
}

.creations_img_container {
    grid-area: creations_img_container;
}

.earth_cont {
    grid-area: earth_cont;
}

.earth_link {
    grid-area: earth_link;
}

.earth {
    grid-area: earth;
}

.deep_earth {
    grid-area: deep_earth;
}

.earth_title {
    grid-area: earth_title;
}

.arcade_cont {
    grid-area: arcade_cont;
}

.arcade_link {
    grid-area: arcade_link;
}

.arcade {
    grid-area: arcade;
}

.night_arcade {
    grid-area: night_arcade;
}

.arcade_title {
    grid-area: arcade_title;
}

.soccer_cont {
    grid-area: soccer_cont;
}

.soccer_link {
    grid-area: soccer_link;
}

.soccer {
    grid-area: soccer;
}

.soccer_team {
    grid-area: soccer_team;
}

.soccer_title {
    grid-area: soccer_title;
}

.race_cont {
    grid-area: race_cont;
}

.race_link {
    grid-area: race_link;
}

.race_car {
    grid-area: race_car;
}

.race {
    grid-area: race;
}

.race_title {
    grid-area: race_title;
}

.landscape_cont {
    grid-area: landscape_cont;
}

.landscape_link {
    grid-area: landscape_link;
}

.landscape_photo {
    grid-area: landscape_photo;
}

.landscape_from_above {
    grid-area: landscape_from_above;
}

.landscape_title {
    grid-area: landscape_title;
}

.nightSky_cont {
    grid-area: nightSky_cont;
}

.nightSky_link {
    grid-area: nightSky_link;
}

.sky {
    grid-area: sky;
}

.night_sky {
    grid-area: night_sky;
}

.nightSky_title {
    grid-area: nightSky_title;
}

.curiosity_cont {
    grid-area: curiosity_cont;
}

.curiosity_link {
    grid-area: curiosity_link;
}

.mars_car {
    grid-area: mars_car;
}

.curiosity {
    grid-area: curiosity;
}

.curiosity_title {
    grid-area: curiosity_title;
}

.fisheye_cont {
    grid-area: fisheye_cont;
}

.fisheye_link {
    grid-area: fisheye_link;
}

.fisheye {
    grid-area: fisheye;
}

.fisheye_photo {
    grid-area: fisheye_photo;
}

.fisheye_title {
    grid-area: fisheye_title;
}

.creations_btn {
    grid-area: creations_btn;
}

.btn {
    grid-area: btn;
}

.footer_container {
    grid-area: footer_container;
}

.footer_nav {
    grid-area: footer_nav;
}

.footer_logo_container {
    grid-area: footer_logo_container;
}

.footer_logo_icon {
    grid-area: footer_logo_icon;
}

.footer_navLinks {
    grid-area: footer_navLinks;
}

.footer_navLinks_about {
    grid-area: footer_navLinks_about;
}

.footer_navLinks_careers {
    grid-area: footer_navLinks_careers;
}

.footer_navLinks_events {
    grid-area: footer_navLinks_events;
}

.footer_navLinks_products {
    grid-area: footer_navLinks_products;
}

.footer_navLinks_support {
    grid-area: footer_navLinks_support;
}

.social_icons {
    grid-area: social_icons;
}

.facebook_icon_container {
    grid-area: facebook_icon_container;
}

.twitter_icon_container {
    grid-area: twitter_icon_container;
}

.pinterest_icon_container {
    grid-area: pinterest_icon_container;
}

.instagram_icon_container {
    grid-area: instagram_icon_container;
}

.facebook_icon {
    grid-area: facebook_icon;
}

.twitter_icon {
    grid-area: twitter_icon;
}

.pinterest_icon {
    grid-area: pinterest_icon;
}

.instagram_icon {
    grid-area: instagram_icon;
}

.refsnes {
    grid-area: refsnes;
}

.attribution {
    grid-area: attribution;
}